//--------
//  Body
//--------

body {
  background-color: $base-background-color;
  color: $base-font-color;
}

-moz-::selection {
  background-color: $brand-color;
  color: $base-ui-color;
}

::selection {
  background-color: $brand-color;
  color: $base-ui-color;
}
