//---------
//  Forms
//---------

.input--primary {
  background-color: inherit;
  color: inherit;
  outline-color: inherit;
}

.input--label {
  margin-bottom: $half-spacing-unit;
  font-weight: bold;
  text-align: center;
}
